.form{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.form input {
    margin-left: 0.5rem;
    border-radius: 10px;
    border: 1px solid #79cc8d ;
}

.form button {
    background-color: #79cc8d;
    border-radius: 10px;
    border: 1px;
    padding-left: 1rem;
    padding-right: 1rem;
    color: white;
}

.form button:hover {
    color: black;
}